name: Run CI
on: [push, pull_request]
jobs:

  build:
    name: Run CI
    runs-on: ubuntu-latest
    steps:

    - name: Check out the code
      uses: actions/checkout@v1

    - name: make ci
      run: make ci
